<launch>

<node pkg="ros_utils" type="quat2rpy.py" name="q2e" output="screen">
      <remap from="input_topic" to="nav_odom" />
      <remap from="output_topic" to="nav_rpy" />
      <param name="input_msg_type" value="Odometry" />      
      <param name="modelstates_index" value="1" type="int" />
</node>

</launch>
